
<div class="mx-auto">
  <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    <button class="btn btn-secondary" [disabled]="isValidFile()" (click)="uploadFile()">Upload</button>
  </div>

<div class="alert alert-danger" role="alert" [hidden]="hideError">
  Please choose a CSV file
</div>

<!-- TODO: add 'wait' icon on uploading icon -->
<div class="alert" [ngClass]="{
  'alert-info' : uploadStatus === 'UPLOADING',
  'alert-success' : uploadStatus === 'SUCCESS',
  'alert-danger' : uploadStatus === 'FAILED' }" [hidden]="hideStatus">
  {{uploadMessage}} 
  <a *ngIf="uploadStatus === 'SUCCESS'" routerLink="/keen/{{validUpload.id}}">
    click here to view
  </a>
</div>