
<!-- TODO: make this more readable -->

 <div class='col-lg-12 mx-auto'>
      <h1>Keen Data</h1>
      <mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let key of displayedColumns" matColumnDef="{{key}}">
          <mat-header-cell *matHeaderCellDef> {{ headers[key] }} </mat-header-cell>
          <mat-cell *matCellDef="let quiz"> {{ quiz[key] }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>